@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-image: url(https://i.imgur.com/AngbV.jpg);
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;    
}

.main-app {
    text-align: center;
    margin: 100px;
}

.connect-wallet-button {
    background: rgb(32, 129, 226);
}

.connected-btn {
    text-transform: uppercase;
    padding: 13px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    min-width: 250px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-shadow: 2px 3px 6px rgb(37, 37, 37);
    transition: 0.25s;
}

.disabled-btn {
    text-transform: uppercase;
    padding: 13px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    min-width: 250px;
    color: rgb(32, 32, 32);
    font-size: 14px;        
    
    box-shadow: 2px 3px 6px rgb(46, 46, 46);
    background: rgb(168, 168, 168);
    cursor: default;
}


.connected-btn:hover {
    color: white;
    background: rgb(20, 125, 196);
}
